$dark-cyan: hsl(185, 75%, 39%);
$dark-blue: hsl(229, 23%, 23%);
$dark-greyblue: hsl(227, 10%, 46%);
$dark-grey: hsl(0, 0%, 59%);
$normal-weight: 400;
$bold-weight: 700;
$fnt-18: 18px;
$fnt-15: 15px;
$fnt-12: 12px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  color: $dark-blue;
}

.hero-background {
  background: $dark-cyan;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.card {
  margin: 0 auto;
  width: 350px;
  height: 375px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px black;
  box-shadow: 0px 0px 10px black;
  position: relative;
  text-align: center;
  
  .card-header {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .img-container {
    position: absolute;
    top: 23%;
    left: calc(50% - 52px);
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background-color: #fff;
    padding: 1rem;
  }
  
  .bio-picture {
    position: absolute;
    top: 5px;
    left: calc(50% - 47px);
    width: 94px;
    height: 94px;
    border-radius: 50%;
  }
  
  .name {
    font-size: $fnt-18;
    margin-top: 4.5rem;
    margin-bottom: 1rem;
    
    span {
      font-weight: $normal-weight;
      color: $dark-greyblue;
    }
  }

  h3 {
    font-size: $fnt-15;
    font-weight: $normal-weight;
    color: $dark-greyblue;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(205, 205, 205, 0.7);
  }

  .stats {
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding-top: 1.2rem;
    justify-content: space-around;

    h2 {
      font-size: $fnt-18;
      padding: 5px;
    }

    h4 {
      font-size: $fnt-12;
      font-weight: $normal-weight;
      letter-spacing: 1px;
    }
  }
}

.attribution { font-size: 11px; text-align: center; margin-top: 50px;}
.attribution a { color: hsl(228, 45%, 44%); }

/* Background Pattern */
.circles {
  width: 100vw;
  height: 100vh;
	position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circles .circle1 {
	transform: translate(-5%, -40%);
}

.circles .circle2 {
	transform: translate(-5%, 45%);
}